<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <% if(false){ %> <!-- IF THERE IS NO COOKIE SAYING THE STYLESHEET HAS ALREADY BEEN DOWNLOADED -->
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/g/pure@0.6.0(base-min.css+buttons-min.css+forms-nr-min.css+menus-min.css)"/> -->
    <% } else if(true){ %>
      <link rel="stylesheet" href="/css/unminified-styles.css"/>
    <% } %>
    <style>
      <% if(true){ %>
        <% if(view == 'login-page'){ %>
          <%- include('partials/index-critical') -%>
        <% } else if(view == 'entry-list') { %>
          <%- include('partials/entries-critical') -%>
        <% } else if(view == 'entry-view') { %>
          <%- include('partials/entry-critical') -%>
        <% } else if(view == 'edit-entry' || view == 'new-entry') { %>
          <%- include('partials/edit-critical') -%>
        <% } %>
      <% } %>
    </style>
  </head>
  <body>
    <div id="main-wrapper">
      <div id="view-wrapper">
        <div id="nav-links" class="pure-menu pure-menu-horizontal" <% if(!loggedIn){%> hidden <%} %>>
          <div class="spinner thecube">
            <div class="cube c1"></div>
            <div class="cube c2"></div>
            <div class="cube c4"></div>
            <div class="cube c3"></div>
          </div>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/entries" class="pure-menu-link">Entries</a></li>
            <li class="pure-menu-item"><a href="/entry/new" class="pure-menu-link">New Entry</a></li>
            <li class="pure-menu-item">
              <form method="get" action="/user/logout">
                <input type="submit" value="Logout" class="pure-menu-link"/>
              </form>
            </li>
          </ul>
        </div>
        <main><%- tag %></main>
        <br/><br/>
        <p>Check out the code <a href="https://github.com/jpodwys/riot-progressive-enhancement">here!</a></p>
      </div>
    </div>
    <% if(jsPath){ %>
      <script async>
        if('querySelector' in document
            && 'localStorage' in window
            && 'addEventListener' in window
            && 'history' in window && history.pushState){
          var scripts = [
            {src: '/js/<%- jsPath %>.js', type: 'text/javascript', priority: 'async'}
          ];
          for(var i = 0; i < scripts.length; ++i){
            var script = scripts[i];
            var tag = document.createElement('script');
            if(script.priority) tag.setAttribute(script.priority, '');
            tag.setAttribute('src', script.src);
            tag.setAttribute('type', script.type);
            document.getElementsByTagName('head')[0].appendChild(tag);
          }
        }
      </script>
    <% } %>
  </body>
</html>
